# Database Credentials (will be used by Docker Compose and the backend)
DB_PASSWORD=root
DB_NAME=crm_jot

# Host Port Mapping (Change these if you have port collisions on your machine)
HOST_DB_PORT=3306
HOST_BACKEND_PORT=5000
HOST_CRM_PORT=3000
HOST_DOC_PORT=5173
